<div id="card">
  <%= image_tag 'methods/white_card', id: 'white-card', onClick: 'select(this)' %>
  <%= image_tag 'methods/purple_card', id: 'purple-card'%>
</div>
<div id="oxxo">
  <%= image_tag 'methods/white_oxxo', id: 'white-oxxo', onClick: 'select(this)'%>
  <%= image_tag 'methods/purple_oxxo', id: 'purple-oxxo' %>
</div>
<div id="spei">
  <%= image_tag 'methods/white_spei', id: 'white-spei', onClick: 'select(this)' %>
  <%= image_tag 'methods/purple_spei', id: 'purple-spei' %>
</div>